* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

$blueColor: #2395fe;
$pinkColor: #f23dbc;
$whiteColor: #fff;

body {
    background-color: $whiteColor;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

h1,
h2,
h3 {
    font-family: 'Roboto', sans-serif;
}

a,
ul li {
    text-decoration: none;
    list-style: none;
}

.container {
    max-width: 1920px;
    padding: 0 8%;
}

.mt-1 {
    margin-top: -5px;
}

button {
    border: 0;
    padding: 10px 15px;
    border-radius: 2px;
    transition: all 0.25s ease;
    cursor: pointer;
}

.pink_btn {
    background-color: $pinkColor;
    color: $whiteColor;

    &:hover {
        background-color: $blueColor;
    }
}

.blue_btn {
    background-color: $blueColor;
    color: $whiteColor;

    &:hover {
        background-color: $pinkColor;
    }
}